body {
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
    width: 300px;
    display: block;
    border-radius: 10px;
}

.logo {
    height: 50px;
    margin-top: 10px;
}
.Cname {
    height: 50px;
    margin-top: 10px;
}

.card {
    font-size: 30px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #264653;
    border-bottom: 20px solid #2a9d8f;
    border-radius: 20px;
}

.border-blue {
    border: 1px dotted blue;
}

a {
    color: #0072b1;
    font-size: 40px;
    border: 1px solid  #0072b1;
    border-radius: 5px;
    padding: 3px;
}
