body {
    margin: 30px;
    font-family: 'Signika', sans-serif;
}

.avatar {
    width: 300px;
    display: block;
    border-radius: 10px;
}



.logo {
    height: 50px;
    margin-top: 10px;
}
.Cname {
    height: 50px;
    margin-top: 10px;
}

.card {
    font-size: 30px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background:  whitesmoke;
    color: #264653;
    border-bottom: 20px solid #06886c;
    border-radius: 20px;
    animation-name: borderColor;
    animation-duration: 10s;
    animation-iteration-count: 200;
}

.NameOfCompany {
    color: #06886c
}
.border-blue {
    border: 1px dotted blue;
}

.linkedin{
    display: flex;
}
.linked{
    color: #0072b1;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    font-size: 40px;
}

a {
    margin-right: auto;
}

button {
    color: white;
    font-size: 40px;
    border: 0px solid  #0072b1;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    background-color: #0072b1;
    margin-right: auto;
}

@keyframes borderColor {
    0%   {border-color: #06886c;}
    33%  {border-color: #ffca05;}
    66%  {border-color: #ffca05;}
    100% {border-color: #06886c;}
}

.version {
    font-size: smaller;
    font-weight: lighter;
}


.email {
    text-decoration: underline;
}

#name {
    text-shadow: 0px 0px 20px rgb(156, 155, 155);
}

#anagiWebsite {
    color:  #264653;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#name:hover {
    text-shadow: 0px 0px 20px rgb(246, 10, 10);
}

#email:hover {
    text-shadow: 0px 0px 20px rgb(246, 10, 10);
}